<nb-layout>
    <nb-layout-column>
        <section>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offser-sm-12 col-md-4 offset-md-4">
                        <nb-card>
                            <nb-card-header>
                                <app-back-nav title="{{ 'app.title' | translate }}" link="/"></app-back-nav>
                            </nb-card-header>
                            <nb-card-body class="pt-4 pb-5">
                                <form [formGroup]="signInFormGroup" (ngSubmit)="signIn(signInFormGroup.value)"
                                    #formDir="ngForm">
                                    <h3 class="text-center">{{'app.signIn.title' | translate }}</h3>
                                    <div class="form-control-group mt-4">
                                        <label class="label" for="email">{{ 'app.signUp.email' | translate }}</label>
                                        <input nbInput fieldSize="large" id="email" type="email" pattern=".+@.+..+"
                                            placeholder="{{ 'app.signUp.email' | translate }}" formControlName="email"
                                            fullWidth autofocus>
                                        <ng-container *ngIf="formDir.hasError('required', ['email'])">
                                            <div class="caption status-danger">
                                                {{ 'app.signUp.errors.email' | translate }}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="form-control-group mt-4">
                                        
                                        <label class="label" for="email">{{ 'app.signUp.password' | translate }}</label>
                                        <input nbInput fieldSize="large" id="password" type="password"
                                            placeholder="{{ 'app.signUp.password' | translate }}"
                                            formControlName="password" fullWidth autofocus>
                                        <ng-container *ngIf="formDir.hasError('required', ['password'])">
                                            <div class="caption status-danger">
                                                {{ 'app.signUp.errors.password' | translate }}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="form-control-group mt-4">
                                        <nb-checkbox formControlName="rememberMe">
                                            <a href="#" target="_blank"><b>{{ 'app.signIn.rememberMe' | translate
                                                    }}</b></a>
                                        </nb-checkbox>
                                    </div>
                                    <button class="mt-4" fullWidth nbButton [nbSpinner]="loading" status="primary" size="small" >
                                        {{ 'app.signIn.btnSignIn' | translate }}
                                    </button>
                                    <div class="row mt-4">
                                        <div class="col-md-6">
                                            <button nbButton status="basic" size="small" fullWidth class="text-danger" (click)="signInWithGoogle()">
                                                <nb-icon icon="google-outline"></nb-icon>
                                                {{ 'app.signInWithGoogle' | translate }}
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <button nbButton status="primary" size="small" fullWidth class="text-white" (click)="signInWithFacebook()">
                                                <nb-icon icon="facebook-outline"></nb-icon>
                                                {{ 'app.signInWithFB' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div class="mt-4">
                                    <a [routerLink]="['../account-recovery']" >
                                        {{ 'app.accountRecovery.link' | translate }}
                                    </a>
                                </div>
                                <div class="mt-2">
                                    {{ 'app.signIn.signUp' | translate }}
                                    <a [routerLink]="['../sign-up']">
                                        {{ 'app.signUp.title' | translate }}
                                    </a>
                                </div>
  
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
            </div>
        </section>
    </nb-layout-column>
</nb-layout>