<nb-layout>
    <nb-layout-column>
        <section>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offser-sm-12 col-md-4 offset-md-4">
                        <nb-card>
                            <nb-card-header>
                                <app-back-nav title="{{ 'app.title' | translate }}" link="/"></app-back-nav>
                            </nb-card-header>
                            <nb-card-body class="pt-4 pb-5">
                                <form [formGroup]="userFormGroup" (ngSubmit)="updatePassword(userFormGroup.value)"
                                    #formDir="ngForm">
                                    <h3 class="text-center">{{'app.resetPassword.title' | translate }}</h3>
                                    <div class="form-control-group mt-4">
                                        <label class="label" for="password">{{ 'app.resetPassword.password' | translate
                                            }}</label>
                                        <input nbInput fieldSize="large" id="password" type="password"
                                            (keyup)="onPasswordKeyup($event)"
                                            placeholder="{{ 'app.signUp.password' | translate }}"
                                            formControlName="password" fullWidth autofocus>
                                        <ng-container *ngIf="invalidPasswordMessage">
                                            <div class="caption status-danger">
                                                {{invalidPasswordMessage}}
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="formDir.hasError('required', ['password'])">
                                            <div class="caption status-danger">
                                                {{ 'app.signUp.errors.password' | translate }}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="form-control-group mt-4">
                                        <label class="label" for="password">{{ 'app.resetPassword.passwordConfirmation'
                                            | translate }}</label>
                                        <input nbInput fieldSize="large" id="password" type="password"
                                            placeholder="{{ 'app.signUp.password' | translate }}"
                                            formControlName="passwordConfirmation" fullWidth autofocus>
                                        <ng-container *ngIf="formDir.hasError('required', ['password'])">
                                            <div class="caption status-danger">
                                                {{ 'app.resetPassword.errors.passwordConfirmation' | translate }}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <button class="mt-4" fullWidth nbButton [nbSpinner]="loading" status="primary">
                                        {{ 'app.resetPassword.btnSubmit' | translate }}
                                    </button>
                                </form>
                                <div class="mt-4">
                                    <a [routerLink]="['../sign-in']">
                                        {{ 'app.signIn.title' | translate }}
                                    </a>
                                </div>
                                <div class="mt-2">
                                    <a [routerLink]="['../sign-up']">
                                        {{ 'app.signUp.title' | translate }}
                                    </a>
                                </div>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
            </div>
        </section>
    </nb-layout-column>
</nb-layout>